In [16]:

import itertools
import numpy as np
import pandas as pd 
from numbers import Number
import sqlite3
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

import pickle

In [23]:
bom = pd.read_csv("C:/Users/user/dsc-phase-2-project-v3/Phase-G-2-Project/data/data sets/bom.movie_gross.csv/bom.movie_gross.csv")
tnmovie = pd.read_csv("C:/Users/user/dsc-phase-2-project-v3\Phase-G-2-Project/data/data sets/tn.movie_budgets.csv/tn.movie_budgets.csv")
tmdb = pd.read_csv("C:/Users/user/dsc-phase-2-project-v3/Phase-G-2-Project/data/data sets/tmdb.movies.csv/tmdb.movies.csv")

In [18]:
import os
print(os.getcwd())

c:\Users\user\Downloads

In [19]:
path = (r"C:\Users\user\dsc-phase-2-project-v3\Phase-G-2-Project\data\data sets\im.db\im.db")
conn = sqlite3.connect(path)

In [20]:
cursor = conn.cursor()

In [21]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = cursor.fetchall()
print('Tables in database:', tables)

Tables in database: [('movie_basics',), ('directors',), ('known_for',), ('movie_akas',), ('movie_ratings',), ('persons',), ('principals',), ('writers',)]

In [24]:

tmdb.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [25]:
tnmovie.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [26]:
bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [ ]:
rt_movies = pd.read_csv(r"C:\Users\user\dsc-phase-2-project-v3\Phase-G-2-Project\data\data sets\rt.movie_info.tsv")
rt_movies.head()

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\user\\dsc-phase-2-project-v3\\Phase-G-2-Project\\data\\data sets\\rt.movie_info.tsv'